@font-face {
    font-family: Norse;
    src: url("../../Norse-Bold.otf");
    font-weight: bold;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
}
.left{
    background-image: url("../../postoffice5.jpg");
    background-position: center;
    background-size:cover;
    width: 60%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 20%;
    font-family: Norse;
    font-size: 5em;
    color: white;
    background-color: hsla(120, 0%, 0%, 0.6);
    padding: 3%;
}
.right{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    margin-left: 5%;
    margin-top: 13%;
    margin-bottom: 5%;
    margin-right: 20%;
    font-size: 1.25em;
    font-weight: bold;
}
#form{
    padding: 5%;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(192, 190, 190);
    max-height: 44vh;
    color: rgb(53, 52, 52);
}
#line{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    margin-left: 0%;
    font-size: small;
    gap: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label{
    display: block;
    letter-spacing: 1px;
    font-weight: 600;
}
#line input{
    border: 1px solid rgb(192, 190, 190);
    width: 50%;
    padding: 0.5em;
    margin: 3px;
    margin-left: 0px;
    border-radius: 5px;
}
#line input:focus{
    border-color: blue;
    outline: 0px;
    box-shadow: 2px 2px 4px rgb(192, 190, 190);
}
#line input:invalid{
    border-color: red;
}
#passError{
    color:red;
}
button[type="submit"]{
    color: whitesmoke;
    background-color: #596D48;
    margin: 5%;
    margin-top: 4%;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    width: 40%;
    border: 0px;
    border-radius: 10px;
}
#foot{
    font-size: 1.1em;
    color: black;
    margin-left: 5%;
    margin-top: 0px;
}
.spin{
    animation: infinite-spinning 2s linear infinite;
}
@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 800px) {
    .wrapper{
      flex-direction: column;
    }
    .left{
      width: 100%;
      height: fit-content;
    }
    .logo{
      height: 30%;
    }
}
@media (max-width: 600px) {
    .logo{
        font-size: 3em;
        height: 40%;
    }
}
